# Altere os valores conforme necessário para o seu ambiente de desenvolvimento.
DATABASE_URL = "postgresql://user:password@localhost:5432/authentication"

JWT_SECRET = sua-chave-jwt
JWT_ALGORITHM = HS256
JWT_EXPIRE_MINUTES = 30